streamlit
python-dotenv

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16

langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters

sentence-transformers
huggingface-hub

chromadb
pypdf
