streamlit

# Core LangChain ecosystem
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq

# Vector DB
chromadb

# HuggingFace
huggingface-hub
sentence-transformers

# PDF loader
pypdf

# Env
python-dotenv
